SERVER_URL=http://localhost:3000 #Url on which this is hosted on without trailing slash
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=mongodb
MONGO_USER=mongodb
MONGO_PASS=mongodb
MONGO_URI=mongodb://user:password@mongo:27017/mongodb
MINIO_ACCESS_KEY=myaccesskey
MINIO_SECRET_KEY=mysecretkey
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=no
MINIO_BUCKET=files
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=myrealm
KEYCLOAK_CLIENT_ID=frontend
KEYCLOAK_SECRET=myclientsecret
JWT_SECRET=myjwtsecret
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin
